Appium-Python-Client==4.0.0
attrs==23.2.0
autoit==0.2.6
behave==1.2.6
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.4.0
colorama==0.4.6
execnet==2.1.1
h11==0.14.0
idna==3.7
iniconfig==2.0.0
isodate==0.6.1
mark==0.2
numpy==1.26.4
outcome==1.3.0.post0
packaging==24.0
pandas==2.2.2
parse==1.20.2
parse-type==0.6.2
pluggy==1.5.0
pycparser==2.22
pyparsing==3.1.2
PySocks==1.7.1
pytest==8.2.0
pytest-appium==0.1
pytest-runner==6.0.1
pytest-variables==3.1.0
pytest-xdist==3.6.1
python-dateutil==2.9.0.post0
pytz==2024.1
rdflib==7.0.0
requests==2.32.3
selenium==4.19.0
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
trio==0.25.0
trio-websocket==0.11.1
typing_extensions==4.11.0
tzdata==2024.1
urllib3==2.2.1
wsproto==1.2.0
xdist==0.0.2
